/*===== Colores =====*/
$first-color: #3664F4;
$white-color: #E6E7E9;
$dark-color: #070D1F;
$dark-color-alt: #282B3A;


/*===== Fuente y tipografia =====*/
$body-font: 'Poppins', sans-serif;
$top-gap: 5rem;

/*===== z index =====*/
$z-fixed: 100;
